button {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    background-color: aliceblue;
    text-align: right;
    width: 300px;
    max-height: fit-content;
   
}

#display-bottom {
    font-size: 45px;
    min-height: 50px;
}

#display-top {
    font-size: 20px;
    min-height: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 300px;
    height: 400px;
}

#zero {
    grid-column: span 2;
}

.misc {
    background-color: gray;
}

.operator, #equals {
    background-color: orange;
}

.number {
    background-color: darkgray;
}

#decimal {
    background-color: darkgray;

}