body {
    display: flex;
    justify-content: center;
}
button {
    font-size: 40px;
    color: white;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    
}


.calculator {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 10vh;
    height: max-content;
    width: max-content;
    padding: 20px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;
}

.screen {
    background-color: aliceblue;
    text-align: right;
    width: 320px;
    max-height: fit-content;
    border: 2px solid black;
    margin-bottom: -2px;
   
}

#display-bottom {
    font-size: 45px;
    min-height: 50px;
}

#display-top {
    font-size: 20px;
    min-height: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid black;
}

#zero {
    grid-column: span 2;
    width: 160px;
}

.misc {
    background-color: rgb(100, 100, 100);
}

.misc:active {
    background-color: rgb(100, 100, 100, 0.4);
}

.operator, #equals {
    background-color: rgb(255, 170, 0);
}

.operator:active, #equals:active {
    background-color: rgb(255, 170, 0, 0.7);
}

.number, #decimal {
    background-color: rgb(169, 169, 169);
}

.number:active, #decimal:active {
    background-color: rgb(169, 169, 169, 0.7);
}



